/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.btn-transparent {
  border: 0px;
  background-color: transparent; }

.issue-editor {
  border: 1px solid #bdbdbd; }
  .issue-editor.editing .header button span.fa-close {
    display: inline; }
  .issue-editor.editing .header button span.fa-edit {
    display: none; }
  .issue-editor.editing .meta, .issue-editor.editing .body, .issue-editor.editing .operations, .issue-editor.editing .comments {
    display: block; }
  .issue-editor .header {
    background-color: #424242;
    color: #eeeeee;
    padding: 10px 15px; }
    .issue-editor .header button {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0px; }
      .issue-editor .header button h4, .issue-editor .header button span {
        line-height: 30px; }
      .issue-editor .header button h4 {
        margin: 0px; }
      .issue-editor .header button span {
        float: right; }
        .issue-editor .header button span.fa-close {
          display: none; }
        .issue-editor .header button span.fa-edit {
          display: inline; }
  .issue-editor .meta, .issue-editor .body, .issue-editor .operations, .issue-editor .comments {
    display: none;
    padding: 10px 15px; }
  .issue-editor .meta, .issue-editor .comments {
    background-color: #e0e0e0; }
  .issue-editor .comments .comment {
    display: flex; }
    .issue-editor .comments .comment .collaborator {
      width: 80px;
      padding-right: 15px;
      flex-shrink: 0; }
      .issue-editor .comments .comment .collaborator img {
        max-width: 100%; }
    .issue-editor .comments .comment .text {
      flex-grow: 1;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #f5f5f5; }

.milestone-editor.collapsed > .header .fa-chevron-down {
  display: none; }

.milestone-editor.collapsed > .header .fa-chevron-right {
  display: inline-block; }

.milestone-editor.collapsed .columns {
  display: none; }

.milestone-editor > .header {
  border-bottom: 1px solid #bdbdbd; }
  .milestone-editor > .header .fa-chevron-down {
    display: inline-block; }
  .milestone-editor > .header .fa-chevron-right {
    display: none; }
  .milestone-editor > .header button {
    padding: 0px;
    display: block;
    width: 100%;
    text-align: left; }

.milestone-editor .columns {
  display: flex; }
  .milestone-editor .columns .column {
    flex-grow: 1;
    flex-basis: 0;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding: 15px; }
    .milestone-editor .columns .column:last-child {
      border-right: 0px; }
    .milestone-editor .columns .column > .header {
      margin-bottom: 15px; }
      .milestone-editor .columns .column > .header h4 {
        margin: 0px; }

.scrum-container.list .columns {
  display: block; }

/*# sourceMappingURL=client.css.map */
