/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.btn-transparent {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  text-align: left; }

body, html {
  height: 100%; }

.app-container {
  display: flex;
  min-height: 100%; }
  .app-container .navbar {
    flex-shrink: 0; }
  .app-container .workspace {
    flex-grow: 1; }

.tabbed-container .tabs {
  position: relative; }
  .tabbed-container .tabs .tab button {
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0px; }
  .tabbed-container .tabs .tab .content {
    margin-top: 30px;
    display: none; }
  .tabbed-container .tabs .tab.active .content {
    display: block; }

.issue-editor {
  border: 1px solid #bdbdbd; }
  .issue-editor.loading {
    pointer-events: none;
    opacity: 0.5; }
  .issue-editor.expanded .header > button span.fa-minus-circle {
    display: inline; }
  .issue-editor.expanded .header > button span.fa-plus-circle {
    display: none; }
  .issue-editor.expanded .meta, .issue-editor.expanded .body, .issue-editor.expanded .operations, .issue-editor.expanded .comments, .issue-editor.expanded .add-comment {
    display: block; }
  .issue-editor .btn-edit {
    cursor: text; }
    .issue-editor .btn-edit:hover {
      outline: 1px solid #eeeeee; }
  .issue-editor > .header {
    background-color: #424242;
    color: #eeeeee;
    padding: 0px 15px 15px 15px; }
    .issue-editor > .header img {
      float: left;
      margin-right: 15px;
      width: 30px;
      height: 30px; }
    .issue-editor > .header .drag-handle {
      cursor: move; }
      .issue-editor > .header .drag-handle .fa {
        text-align: center;
        display: block;
        height: 15px;
        line-height: 15px;
        font-size: 10px;
        color: #9e9e9e; }
    .issue-editor > .header .btn-toggle {
      float: right;
      width: 30px;
      height: 30px;
      display: block; }
    .issue-editor > .header h4 {
      margin: 0px; }
    .issue-editor > .header button {
      float: right;
      text-align: right; }
    .issue-editor > .header span, .issue-editor > .header input {
      line-height: 30px; }
      .issue-editor > .header span.fa-minus-circle, .issue-editor > .header input.fa-minus-circle {
        display: none; }
      .issue-editor > .header span.fa-plus-circle, .issue-editor > .header input.fa-plus-circle {
        display: inline; }
  .issue-editor .meta, .issue-editor .body, .issue-editor .operations, .issue-editor .comments, .issue-editor .add-comment {
    display: none;
    padding: 15px; }
  .issue-editor .meta, .issue-editor .comments, .issue-editor .add-comment {
    background-color: #e0e0e0; }
  .issue-editor .meta .meta-field {
    clear: both; }
    .issue-editor .meta .meta-field select {
      float: right;
      width: 200px; }
  .issue-editor .body textarea, .issue-editor .body .btn-edit {
    resize: none;
    display: block;
    width: 100%;
    min-height: 100px; }
  .issue-editor .comments .comment {
    display: flex;
    margin-top: 15px; }
    .issue-editor .comments .comment:first-child {
      margin-top: 0px; }
    .issue-editor .comments .comment .collaborator {
      width: 80px;
      padding-right: 15px;
      flex-shrink: 0; }
      .issue-editor .comments .comment .collaborator img {
        max-width: 100%; }
    .issue-editor .comments .comment .text {
      flex-grow: 1;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #f5f5f5; }
  .issue-editor .add-comment {
    text-align: right; }
    .issue-editor .add-comment textarea {
      text-align: left;
      padding: 5px 10px;
      resize: none;
      display: block;
      width: 100%;
      border-radius: 5px;
      background-color: #f5f5f5; }
    .issue-editor .add-comment button {
      margin-top: 15px; }

.milestone-editor.collapsed > .header .fa.fa-chevron-down {
  display: none; }

.milestone-editor.collapsed > .header .fa.fa-chevron-right {
  display: inline-block; }

.milestone-editor.collapsed .columns {
  display: none; }

.milestone-editor > .header {
  border-bottom: 1px solid #bdbdbd;
  padding: 15px; }
  .milestone-editor > .header .fa {
    width: 30px;
    text-align: center; }
    .milestone-editor > .header .fa.fa-chevron-down {
      display: inline-block; }
    .milestone-editor > .header .fa.fa-chevron-right {
      display: none; }
  .milestone-editor > .header .btn-toggle {
    padding: 0px;
    display: block;
    width: 100%;
    text-align: left; }

.milestone-editor .columns {
  display: flex; }
  .milestone-editor .columns .column {
    flex-grow: 1;
    flex-basis: 0;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding: 15px; }
    .milestone-editor .columns .column:last-child {
      border-right: 0px; }
    .milestone-editor .columns .column > .header {
      margin-bottom: 15px; }
      .milestone-editor .columns .column > .header h4 {
        margin: 0px; }

.board-container.list .milestone-editor:not(.collapsed) .columns {
  display: block; }
  .board-container.list .milestone-editor:not(.collapsed) .columns .column {
    border: 0px; }
    .board-container.list .milestone-editor:not(.collapsed) .columns .column > .header {
      border-bottom: 1px solid #bdbdbd; }
    .board-container.list .milestone-editor:not(.collapsed) .columns .column .issue-editor .header {
      padding: 5px 15px 5px 5px;
      position: relative; }
      .board-container.list .milestone-editor:not(.collapsed) .columns .column .issue-editor .header .drag-handle {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 0%; }
      .board-container.list .milestone-editor:not(.collapsed) .columns .column .issue-editor .header h4 {
        font-size: 14px; }

.board-container.dragging .milestone-editor * {
  user-select: none !important; }

.board-container.dragging .milestone-editor .columns .column {
  outline: 2px solid #e0e0e0;
  background-color: 2px solid #f5f5f5; }
  .board-container.dragging .milestone-editor .columns .column.hovering {
    outline: 2px solid #81c784;
    background-color: 2px solid #c8e6c9; }

.navbar {
  width: 60px;
  margin: 0px;
  background-color: #212121;
  border-radius: 0px;
  border: 0px; }
  .navbar .buttons a {
    display: block;
    width: 60px;
    text-align: center; }
    .navbar .buttons a.active {
      background-color: #eeeeee; }
      .navbar .buttons a.active .fa {
        color: #212121; }
    .navbar .buttons a .fa {
      color: #eeeeee;
      line-height: 60px;
      font-size: 24px; }

.user-container .profile {
  padding: 15px; }
  .user-container .profile img {
    width: 60px;
    height: 60px; }

.resource-editor {
  padding: 15px;
  width: 100%;
  height: 100%; }
  .resource-editor .body {
    overflow-y: auto; }
    .resource-editor .body .item button {
      border: 0px;
      background-color: transparent;
      color: #e53935; }
  .resource-editor .footer {
    display: flex; }
    .resource-editor .footer input, .resource-editor .footer button {
      line-height: 30px;
      height: 30px;
      border: 1px solid #e0e0e0; }
    .resource-editor .footer input {
      flex-grow: 1;
      border-right: 0px; }
    .resource-editor .footer button {
      flex-shrink: 0;
      width: 30px;
      background-color: #43a047;
      color: #f5f5f5; }

/*# sourceMappingURL=client.css.map */
