@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import 'https://fonts.googleapis.com/css?family=Bree+Serif';
[role="button"],
input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  border-radius: 0px;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

[role="button"] {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, button:hover, button:focus, button:active {
  outline: 0; }

textarea {
  resize: none;
  box-sizing: border-box; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/**
 * Global body/html styles
 */
body, html {
  height: 100%; }
  body *, html * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
    body *.selectable, body *.selectable *, html *.selectable, html *.selectable * {
      -webkit-user-select: text;
      -moz-user-select: text;
      user-select: text; }
  body h4, html h4 {
    font-size: 16px; }

/**
 * A transparent, border-less button
 */
.btn-transparent {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  text-align: left; }

/**
 * The main app container
 */
.app-container {
  display: flex;
  min-height: 100%; }
  .app-container .navbar {
    flex-shrink: 0; }
  .app-container .workspace {
    flex-grow: 1;
    display: relative; }

/**
 * Generic tabs
 */
.tab {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 30px;
  height: 30px; }
  .tab.active {
    background-image: none; }

.tabbed-container.vertical {
  display: flex;
  height: 100%; }
  .tabbed-container.vertical .tabs {
    flex-shrink: 0;
    display: block; }

.tabbed-container .tabs {
  display: flex;
  background-color: #616161;
  padding-top: 5px; }
  .tabbed-container .tabs .tab {
    background-color: transparent;
    border: 0px;
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    color: #e0e0e0; }
    .tabbed-container .tabs .tab.active {
      color: #212121;
      background-color: #fff;
      border-top: 1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-bottom: 0px; }

.tabbed-container .panes .pane {
  display: none; }
  .tabbed-container .panes .pane.active {
    display: block; }

/**
 * Layout helper classes
 */
.hidden {
  display: none !important; }

/**
 * Spinner for AJAX operations
 */
@keyframes spinner-icon {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.spinner-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: transparent; }
  .spinner-backdrop .spinner-container {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    text-align: center; }
    .spinner-backdrop .spinner-container .spinner-icon {
      color: #2196f3;
      line-height: 32px;
      height: 32px;
      width: 32px;
      font-size: 32px;
      animation: spinner-icon 2s linear infinite; }

.workspace.readme-container {
  text-align: left;
  margin: 2em;
  max-width: 40rem; }

.board-container.multi-edit .issue-editor:not(.selected) {
  opacity: 0.5; }

.issue-editor {
  border: 1px solid #bdbdbd; }
  .issue-editor[data-type="bug"] > .header:before {
    background-color: #f44336; }
  .issue-editor[data-type="improvement"] > .header:before, .issue-editor[data-type="enhancement"] > .header:before {
    background-color: #00bcd4; }
  .issue-editor[data-type="feature"] > .header:before, .issue-editor[data-type="new feature"] > .header:before {
    background-color: #4caf50; }
  .issue-editor[data-type="task"] > .header:before {
    background-color: #1976d2; }
  .issue-editor[data-type="question"] > .header:before {
    background-color: #ffeb3b; }
  .issue-editor.selected {
    outline: 2px solid #2196f3; }
  .issue-editor.loading {
    pointer-events: none;
    opacity: 0.5; }
  .issue-editor.expanded .header > button span.icon-close {
    display: inline; }
  .issue-editor.expanded .header > button span.icon-open {
    display: none; }
  .issue-editor.expanded .meta, .issue-editor.expanded .body, .issue-editor.expanded .operations, .issue-editor.expanded .comments, .issue-editor.expanded .add-comment {
    display: block; }
  .issue-editor.expanded.selected .multi-edit-notification {
    display: block;
    font-weight: bold;
    color: #f44336;
    margin-bottom: 10px; }
  .issue-editor.expanded.selected .multi-edit-toggle {
    display: inline;
    float: right;
    margin: 4px 10px 0px 0px; }
  .issue-editor.expanded.selected .multi-edit-actions {
    padding-top: 10px;
    display: block;
    text-align: right; }
    .issue-editor.expanded.selected .multi-edit-actions button {
      margin-left: 10px; }
  .issue-editor.expanded.selected .drag-handle {
    display: none; }
  .issue-editor.expanded.selected .header {
    padding-top: 15px; }
  .issue-editor.expanded.selected .body, .issue-editor.expanded.selected .comments, .issue-editor.expanded.selected .add-comment {
    display: none; }
  .issue-editor .multi-edit-toggle, .issue-editor .multi-edit-notification, .issue-editor .multi-edit-actions {
    display: none; }
  .issue-editor .btn-edit {
    cursor: text; }
    .issue-editor .btn-edit:hover {
      outline: 1px solid #2196f3; }
  .issue-editor > .header {
    background-color: #424242;
    color: #eeeeee;
    padding: 0px 15px 15px 15px;
    position: relative; }
    .issue-editor > .header:before {
      content: '';
      display: block;
      width: 4px;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px; }
    .issue-editor > .header img, .issue-editor > .header .unassigned {
      float: left;
      margin-right: 10px;
      width: 30px;
      height: 30px; }
    .issue-editor > .header .unassigned {
      background-color: #9e9e9e;
      text-align: center; }
      .issue-editor > .header .unassigned .fa {
        font-size: 24px; }
    .issue-editor > .header .issue-index {
      position: absolute;
      top: 0px;
      right: 0px;
      border-bottom-left-radius: 5px;
      background-color: #212121;
      color: #e0e0e0;
      padding: 2px 5px;
      font-size: 10px; }
    .issue-editor > .header .drag-handle {
      cursor: move; }
      .issue-editor > .header .drag-handle .fa {
        text-align: center;
        display: block;
        height: 15px;
        line-height: 15px;
        font-size: 10px;
        color: #9e9e9e; }
    .issue-editor > .header .btn-toggle {
      float: right;
      width: 30px;
      height: 30px;
      display: block; }
      .issue-editor > .header .btn-toggle, .issue-editor > .header .btn-toggle:focus, .issue-editor > .header .btn-toggle:hover, .issue-editor > .header .btn-toggle:active {
        outline: none; }
    .issue-editor > .header .priority-indicator {
      font-size: 10px; }
      .issue-editor > .header .priority-indicator.low, .issue-editor > .header .priority-indicator.trival {
        color: #4caf50; }
      .issue-editor > .header .priority-indicator.medium, .issue-editor > .header .priority-indicator.minor {
        color: #9e9e9e; }
      .issue-editor > .header .priority-indicator.high, .issue-editor > .header .priority-indicator.critical {
        color: #ffeb3b; }
      .issue-editor > .header .priority-indicator.blocker {
        color: #f44336; }
    .issue-editor > .header h4 {
      margin: 0px;
      display: inline;
      margin-left: 5px; }
    .issue-editor > .header button {
      float: right;
      text-align: right; }
    .issue-editor > .header span, .issue-editor > .header input, .issue-editor > .header h4 {
      line-height: 30px; }
      .issue-editor > .header span.icon-close, .issue-editor > .header input.icon-close, .issue-editor > .header h4.icon-close {
        display: none; }
      .issue-editor > .header span.icon-open, .issue-editor > .header input.icon-open, .issue-editor > .header h4.icon-open {
        display: inline; }
  .issue-editor .meta, .issue-editor .body, .issue-editor .operations, .issue-editor .comments, .issue-editor .add-comment {
    display: none;
    padding: 15px; }
  .issue-editor .meta, .issue-editor .comments, .issue-editor .add-comment {
    background-color: #e0e0e0; }
  .issue-editor .meta .meta-field {
    clear: both; }
    .issue-editor .meta .meta-field select {
      float: right;
      width: 200px; }
      .issue-editor .meta .meta-field select[disabled] {
        background-color: transparent;
        border: 0px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        clip-path: inset(0px 20px 0px 0px);
        -webkit-clip-path: inset(0px 20px 0px 0px);
        -moz-clip-path: inset(0px 20px 0px 0px); }
  .issue-editor .body textarea, .issue-editor .body .btn-edit {
    resize: none;
    display: block;
    width: 100%;
    min-height: 100px; }
  .issue-editor .comments .comment {
    display: flex;
    margin-top: 15px; }
    .issue-editor .comments .comment:first-child {
      margin-top: 0px; }
    .issue-editor .comments .comment .collaborator {
      width: 80px;
      padding-right: 15px;
      flex-shrink: 0; }
      .issue-editor .comments .comment .collaborator img {
        max-width: 100%; }
    .issue-editor .comments .comment .text, .issue-editor .comments .comment .btn-edit, .issue-editor .comments .comment .edit {
      resize: none;
      flex-grow: 1;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #f5f5f5; }
  .issue-editor .add-comment {
    text-align: right; }
    .issue-editor .add-comment textarea {
      text-align: left;
      padding: 5px 10px;
      resize: none;
      display: block;
      width: 100%;
      border-radius: 5px;
      background-color: #f5f5f5; }
    .issue-editor .add-comment button {
      margin-top: 15px; }

.filter-editor {
  display: flex;
  padding: 10px;
  width: 100%;
  background-color: #424242;
  color: #eeeeee; }
  .filter-editor .button-container {
    line-height: 25px; }
  .filter-editor .filters {
    display: flex; }
    .filter-editor .filters .filter {
      flex-shrink: 0;
      display: flex;
      background-color: #eeeeee;
      border-radius: 15px;
      margin-right: 30px;
      position: relative; }
      .filter-editor .filters .filter:after {
        content: '&';
        position: absolute;
        right: -20px;
        line-height: 25px;
        color: #757575; }
      .filter-editor .filters .filter:last-of-type {
        margin-right: 10px; }
        .filter-editor .filters .filter:last-of-type:after {
          content: none; }
      .filter-editor .filters .filter span, .filter-editor .filters .filter select, .filter-editor .filters .filter button {
        font-size: 12px;
        line-height: 18px;
        display: block;
        background-color: transparent;
        border: 0px;
        color: #424242; }
      .filter-editor .filters .filter input {
        flex-grow: 1;
        width: 80px; }
      .filter-editor .filters .filter .btn-remove {
        text-align: center;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20; }
      .filter-editor .filters .filter .select-container {
        background-color: #e0e0e0;
        overflow-x: hidden;
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .filter-editor .filters .filter .select-container:first-of-type {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          padding-left: 5px;
          border-right: 1px solid #424242;
          width: 90px; }
          .filter-editor .filters .filter .select-container:first-of-type select {
            text-align: left; }
        .filter-editor .filters .filter .select-container:last-of-type {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          padding-right: 5px;
          border-left: 1px solid #424242;
          width: 90px; }
          .filter-editor .filters .filter .select-container:last-of-type select {
            text-align: left; }
        .filter-editor .filters .filter .select-container select {
          text-align: center;
          background-color: transparent;
          line-height: 25px;
          height: 25px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          cursor: pointer;
          display: block;
          width: 100%; }
          .filter-editor .filters .filter .select-container select:focusring, .filter-editor .filters .filter .select-container select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000; }
          .filter-editor .filters .filter .select-container select:focus {
            outline: none; }
      .filter-editor .filters .filter span {
        line-height: 25px; }
      .filter-editor .filters .filter span, .filter-editor .filters .filter select, .filter-editor .filters .filter button {
        flex-shrink: 0; }

.milestone-editor.collapsed > .header .title .btn-toggle .fa.fa-chevron-down {
  display: none; }

.milestone-editor.collapsed > .header .title .btn-toggle .fa.fa-chevron-right {
  display: inline-block; }

.milestone-editor.collapsed .columns {
  display: none; }

.milestone-editor > .header {
  border-bottom: 1px solid #bdbdbd;
  padding: 15px;
  position: relative; }
  .milestone-editor > .header .title {
    margin: 0px; }
    .milestone-editor > .header .title .btn-toggle {
      padding: 0px 0px 0px 30px;
      display: block;
      text-align: left;
      position: relative;
      width: 100%; }
      .milestone-editor > .header .title .btn-toggle h4 {
        margin-top: 0px;
        margin-bottom: 0px; }
      .milestone-editor > .header .title .btn-toggle p {
        margin-bottom: 0px; }
      .milestone-editor > .header .title .btn-toggle .fa {
        width: 20px;
        text-align: center;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%); }
        .milestone-editor > .header .title .btn-toggle .fa.fa-chevron-down {
          display: inline-block; }
        .milestone-editor > .header .title .btn-toggle .fa.fa-chevron-right {
          display: none; }
  .milestone-editor > .header .stats {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px; }
    .milestone-editor > .header .stats .fa {
      margin-right: 5px; }
    .milestone-editor > .header .stats > span {
      display: inline-block;
      padding: 0px 8px 0px 5px;
      border-radius: 10px;
      line-height: 20px;
      height: 20px;
      background-color: #616161;
      margin-left: 10px;
      font-size: 12px;
      color: #e0e0e0; }
      .milestone-editor > .header .stats > span .total {
        color: #bdbdbd; }
      .milestone-editor > .header .stats > span .remaining {
        border-left: 1px solid #e0e0e0;
        padding-left: 5px;
        margin-left: 5px;
        margin-right: 0px; }
        .milestone-editor > .header .stats > span .remaining.warn-red {
          color: #f44336; }
        .milestone-editor > .header .stats > span .remaining.warn-yellow {
          color: #ffeb3b; }
        .milestone-editor > .header .stats > span .remaining.ok {
          color: #4caf50; }
      .milestone-editor > .header .stats > span .remaining, .milestone-editor > .header .stats > span .total {
        font-weight: bold; }
  .milestone-editor > .header .progress-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #e0e0e0;
    z-index: -1;
    transition: width 0.5s ease;
    box-shadow: none; }

.milestone-editor .columns {
  display: flex; }
  .milestone-editor .columns .column {
    flex-grow: 1;
    flex-basis: 0;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding: 15px; }
    .milestone-editor .columns .column:last-child {
      border-right: 0px; }
    .milestone-editor .columns .column > .header {
      margin-bottom: 15px; }
      .milestone-editor .columns .column > .header h4 {
        margin: 0px;
        text-transform: uppercase;
        opacity: 0.5; }
    .milestone-editor .columns .column .btn-new-issue {
      margin-top: 1em; }

.board-container.list .milestone-editor > .header {
  border-top: 1px solid #bdbdbd;
  border-bottom: none; }
  .board-container.list .milestone-editor > .header .btn-toggle {
    margin: 0px auto; }
  .board-container.list .milestone-editor > .header .title .fa {
    width: 18px;
    margin-right: 5px; }

.board-container.list .milestone-editor:not(.collapsed) > .header {
  border-bottom: 1px solid #bdbdbd; }

.board-container.list .milestone-editor:not(.collapsed) .columns {
  display: block; }
  .board-container.list .milestone-editor:not(.collapsed) .columns .column {
    border: 0px;
    width: 600px;
    margin-left: auto;
    margin-right: auto; }
    .board-container.list .milestone-editor:not(.collapsed) .columns .column:last-of-type {
      margin-bottom: 15px; }
    .board-container.list .milestone-editor:not(.collapsed) .columns .column > .header {
      transform: translateX(-100%);
      display: inline;
      width: auto;
      position: absolute;
      padding-right: 30px; }
    .board-container.list .milestone-editor:not(.collapsed) .columns .column .issue-editor .header {
      padding: 5px 30px 5px 15px;
      position: relative; }
      .board-container.list .milestone-editor:not(.collapsed) .columns .column .issue-editor .header .drag-handle {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 0%; }
      .board-container.list .milestone-editor:not(.collapsed) .columns .column .issue-editor .header h4 {
        font-size: 14px; }

.board-container.dragging .milestone-editor .columns .column {
  outline: 2px solid #e0e0e0;
  background-color: 2px solid #f5f5f5; }
  .board-container.dragging .milestone-editor .columns .column.hovering {
    outline: 2px solid #81c784;
    background-color: 2px solid #c8e6c9; }

.navbar {
  width: 70px;
  margin: 0px;
  border-radius: 0px;
  border: 0px;
  background-color: #212121; }
  .navbar.out.source-panel .obscure {
    width: 20rem; }
  .navbar.out.project-list .obscure {
    width: 40rem; }
  .navbar.out .obscure {
    width: 100%;
    transition-delay: 0.05s; }
    .navbar.out .obscure .content {
      opacity: 1; }
  .navbar.out .buttons button:before, .navbar.out .buttons button .fa {
    transition-delay: 0s; }
  .navbar:not(.out) .buttons button.active .fa {
    color: #212121; }
  .navbar:not(.out) .buttons button.active:before {
    width: 100%; }
  .navbar .obscure {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: #212121;
    transition: width 0.25s ease;
    transition-delay: 0s;
    z-index: 1000; }
    .navbar .obscure > .content {
      position: absolute;
      height: 100%;
      top: 0px;
      left: 70px;
      opacity: 0;
      transition: opacity 0.25s ease;
      width: calc(100% - 70px);
      overflow-y: auto; }
  .navbar .buttons {
    position: fixed;
    height: 100%;
    z-index: 10001; }
    .navbar .buttons button {
      border: 0px;
      padding: 0px;
      margin-top: 5px;
      display: block;
      width: 60px;
      height: 60px;
      margin-left: 10px;
      text-align: center;
      position: relative;
      background-color: transparent; }
      .navbar .buttons button:before {
        background-color: #fff;
        transition: width 0.05s ease;
        transition-delay: 0.2s;
        display: block;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 0%;
        height: 100%;
        content: '';
        z-index: -1; }
      .navbar .buttons button.bottom {
        position: absolute;
        bottom: 5px; }
      .navbar .buttons button .fa {
        color: #eeeeee;
        line-height: 60px;
        font-size: 24px;
        transition: color 0.25s ease;
        transition-delay: 0.2s; }

.source-panel .obscure .content .btn {
  margin-top: 1em; }

.source-panel .obscure .content > div {
  padding-top: 1em; }
  .source-panel .obscure .content > div img {
    width: 60px;
    height: 60px; }

.resource-editor {
  padding: 15px;
  width: 100%;
  max-width: 300px;
  height: 100%; }
  .resource-editor input {
    line-height: 30px;
    height: 30px;
    border: 1px solid #e0e0e0; }
  .resource-editor label {
    line-height: 30px;
    height: 30px; }
  .resource-editor input {
    padding: 0px 10px; }
  .resource-editor .body {
    overflow-y: auto; }
    .resource-editor .body .item {
      display: flex;
      margin-bottom: 10px; }
      .resource-editor .body .item input, .resource-editor .body .item label {
        flex-grow: 1; }
      .resource-editor .body .item .btn-remove {
        flex-shrink: 0;
        width: 30px;
        border: 0px;
        background-color: transparent;
        color: #e53935; }
  .resource-editor .footer {
    display: flex; }
    .resource-editor .footer input {
      flex-grow: 1;
      border-right: 0px; }
    .resource-editor .footer .btn-add {
      flex-shrink: 0; }

.plan-container {
  position: relative;
  overflow: hidden; }
  .plan-container .plan-editor {
    position: absolute;
    height: 100%;
    width: 100%; }
    .plan-container .plan-editor .years, .plan-container .plan-editor .months {
      line-height: 30px;
      width: 100%;
      display: flex; }
      .plan-container .plan-editor .years button, .plan-container .plan-editor .months button {
        background-color: transparent;
        flex-grow: 1;
        flex-basis: 0;
        border: 0px;
        padding: 0px;
        text-transform: capitalize; }
    .plan-container .plan-editor .undated {
      position: absolute;
      z-index: 99;
      bottom: 0px;
      right: 0px;
      width: calc((100% / 7) + 20px);
      border-top-left-radius: 5px;
      padding: 10px;
      background-color: #f44336; }
      .plan-container .plan-editor .undated h4 {
        margin-top: 0px;
        font-weight: bold;
        color: #fff; }
    .plan-container .plan-editor .years button.hovering {
      outline: 2px solid #81c784; }
    .plan-container .plan-editor .months button.hovering {
      outline: 2px solid #81c784; }
    .plan-container .plan-editor .weekdays {
      height: 30px;
      width: 100%;
      display: flex; }
      .plan-container .plan-editor .weekdays .weekday {
        flex-grow: 1;
        flex-basis: 0;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-bottom: 1px solid #e0e0e0;
        text-transform: capitalize; }
    .plan-container .plan-editor .dates {
      height: calc(100% - 110px);
      left: 0px; }
      .plan-container .plan-editor .dates .date-placeholder {
        display: block;
        width: calc(100% / 7);
        height: calc(100% / 6);
        float: left;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0; }
      .plan-container .plan-editor .dates .date {
        display: block;
        width: calc(100% / 7);
        height: calc(100% / 6);
        float: left;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0; }
        .plan-container .plan-editor .dates .date.hovering {
          outline: 2px solid #81c784;
          background-color: 2px solid #c8e6c9; }
        .plan-container .plan-editor .dates .date .header {
          padding: 5px; }
          .plan-container .plan-editor .dates .date .header .datenumber {
            font-weight: bold; }
          .plan-container .plan-editor .dates .date .header .weekday {
            color: #bdbdbd;
            font-weight: bold;
            margin-left: 5px; }
          .plan-container .plan-editor .dates .date .header .weeknumber {
            color: #bdbdbd;
            float: right; }
        .plan-container .plan-editor .dates .date .body > button {
          float: right;
          line-height: 30px;
          width: 30px;
          text-align: center; }

body > .plan-item-editor {
  border: 1px solid #9e9e9e;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  width: 600px; }
  body > .plan-item-editor .btn-close, body > .plan-item-editor .header, body > .plan-item-editor .body, body > .plan-item-editor .footer {
    height: auto;
    opacity: 1;
    transition-delay: 1s; }
  body > .plan-item-editor .drag-handle {
    display: none; }
  body > .plan-item-editor input {
    border-radius: 0px;
    border: 1px solid #e0e0e0;
    display: block;
    line-height: 30px;
    width: 100%;
    padding: 0px 5px; }
  body > .plan-item-editor .btn-close {
    float: right;
    line-height: 0px; }
  body > .plan-item-editor .header input {
    width: 100%; }
  body > .plan-item-editor .footer {
    margin-top: 15px;
    text-align: right; }

.plan-container .plan-item-editor {
  overflow: hidden;
  padding: 0px;
  width: 100%;
  background-color: #424242;
  color: #f5f5f5;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 0px; }
  .plan-container .plan-item-editor.loading {
    opacity: 0.5;
    pointer-event: none; }
  .plan-container .plan-item-editor .drag-handle {
    display: block;
    cursor: move;
    padding: 5px 10px; }
  .plan-container .plan-item-editor .btn-close, .plan-container .plan-item-editor .header, .plan-container .plan-item-editor .body, .plan-container .plan-item-editor .footer {
    display: none;
    overflow: hidden;
    height: 0px;
    opacity: 0; }

.plan-item-editor .btn-close, .plan-item-editor .header, .plan-item-editor .body, .plan-item-editor .footer {
  transition: opacity 0.25s ease; }

.project-editor {
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
  margin: 15px;
  background-color: #fff;
  cursor: pointer; }
  .project-editor:hover {
    outline: 2px solid #2196f3; }
  .project-editor .content .header h4 {
    font-weight: bold;
    margin-top: 0px; }
  .project-editor .content .footer {
    font-size: 12px;
    margin-top: 10px; }
    .project-editor .content .footer .clone-url {
      margin-bottom: 10px; }
      .project-editor .content .footer .clone-url span {
        border-radius: 2px;
        background-color: #e0e0e0;
        padding: 0px 5px;
        font-family: monospace; }

/**
 * Colours
 */
/**
 * Typography
 */
body, textarea, label, input, option, select {
  font-family: 'Open Sans';
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif';
  margin-top: 0.3em;
  margin-bottom: 0.2em; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

ul {
  padding-left: 1.2em;
  list-style-type: initial; }

/**
 * Main layout elements
 */
.navbar, .navbar .obscure {
  background-color: #21303B;
  color: #fff; }
  .navbar .content .project-editor, .navbar .obscure .content .project-editor {
    background-color: #171e23;
    border: 0px; }
    .navbar .content .project-editor .content .header h4, .navbar .obscure .content .project-editor .content .header h4 {
      font-weight: normal; }

.navbar.out:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5; }

.navbar:not(.out) .buttons button.active .fa {
  color: #21303B; }

.board-container {
  padding-top: 56px; }

.filter-editor {
  background-color: #21303B;
  position: fixed;
  top: 0px;
  z-index: 500; }
  .filter-editor .title {
    line-height: 36px;
    margin: 0px 15px 0px 5px; }
  .filter-editor .filters .filter:after {
    line-height: 36px;
    color: #fff;
    font-family: 'Bree Serif';
    font-size: 16px; }

.resource-editor input {
  line-height: 36px;
  height: 36px; }

.milestone-editor > .header {
  border-bottom: 1px solid #cccccc; }
  .milestone-editor > .header .fa {
    color: #888888; }
  .milestone-editor > .header .progress-bar {
    background-color: #efefef; }

.issue-editor {
  border: 0px;
  background-color: #21303B;
  margin-bottom: 0.5rem; }
  .issue-editor > .header {
    background-color: transparent; }
    .issue-editor > .header .issue-index {
      font-family: 'Bree Serif';
      padding: 4px 8px;
      font-size: 11px;
      border-radius: 0px;
      background-color: #171e23; }
  .issue-editor .body {
    background-color: #fff;
    margin: 0px 5px; }
  .issue-editor .meta {
    background-color: transparent;
    color: #fff; }
    .issue-editor .meta .meta-field {
      margin-bottom: 0.5rem;
      height: 2rem; }
      .issue-editor .meta .meta-field label {
        line-height: 2rem;
        height: 2rem; }
      .issue-editor .meta .meta-field select {
        background-color: #E70D3B;
        padding-left: 0.5rem;
        color: #fff;
        line-height: 2rem;
        border: 0px;
        height: 2rem; }
        .issue-editor .meta .meta-field select option {
          line-height: 2rem;
          height: 2rem; }
  .issue-editor .comments, .issue-editor .add-comment {
    background-color: transparent; }
    .issue-editor .comments textarea, .issue-editor .add-comment textarea {
      border-radius: 0px; }

.plan-container .plan-item-editor {
  background-color: #21303B; }
  .plan-container .plan-item-editor .drag-handle {
    padding: 0.5rem 1rem 0.9em 1em;
    font-family: 'Bree Serif'; }

body > .plan-item-editor {
  border: 0px;
  border-radius: 0px;
  background-color: #21303B;
  color: #fff; }
  body > .plan-item-editor .body {
    position: relative; }
  body > .plan-item-editor .btn-close {
    color: #fff; }

/**
 * Widgets
 */
.btn {
  padding: 10px 15px;
  font-size: 1em;
  height: 36px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Bree Serif';
  background-color: #E70D3B; }
  .btn + .btn {
    margin-left: 0.5rem; }
  .btn .fa {
    margin-left: 0.5em; }

.tabbed-container.vertical .tabs {
  padding-top: 0rem;
  background-color: #efefef;
  border-right: 1px solid #cccccc; }
  .tabbed-container.vertical .tabs .tab {
    padding: 0rem 1rem;
    height: 4rem;
    background-color: transparent;
    line-height: 4rem;
    min-width: 12rem;
    text-align: left;
    color: #888888; }
    .tabbed-container.vertical .tabs .tab, .tabbed-container.vertical .tabs .tab.active {
      border-bottom: 1px solid #cccccc; }
    .tabbed-container.vertical .tabs .tab:not(.active):last-of-type {
      border-bottom: 0px; }
    .tabbed-container.vertical .tabs .tab.active {
      position: relative;
      background-color: #fff; }
      .tabbed-container.vertical .tabs .tab.active:after {
        position: absolute;
        right: -1px;
        top: 0px;
        height: 100%;
        width: 1px;
        content: '';
        display: block;
        background-color: #fff; }

.tabbed-container .tabs {
  padding-top: 1rem;
  background-image: none;
  background-color: #21303B; }
  .tabbed-container .tabs:nth-child(2) {
    padding-top: 0rem; }
  .tabbed-container .tabs .tab {
    font-family: 'Bree Serif';
    text-transform: uppercase;
    border-radius: 0px;
    color: #5b84a2;
    height: 2rem;
    line-height: 2rem; }
    .tabbed-container .tabs .tab.active {
      color: #21303B; }
    .tabbed-container .tabs .tab, .tabbed-container .tabs .tab.active {
      border: 0px;
      box-shadow: none; }

/*# sourceMappingURL=client.css.map */
