@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import 'https://fonts.googleapis.com/css?family=Bree+Serif';
[role="button"],
input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  border-radius: 0px;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

[role="button"] {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, button:hover, button:focus, button:active {
  outline: 0; }

textarea {
  resize: none;
  box-sizing: border-box; }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
/**
 * Global body/html styles
 */
body, html {
  height: 100%; }
  body *, html * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
    body *.selectable, body *.selectable *, html *.selectable, html *.selectable * {
      -webkit-user-select: text;
      -moz-user-select: text;
      user-select: text; }
  body h4, html h4 {
    font-size: 16px; }

/**
 * A transparent, border-less button
 */
.btn-transparent {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  text-align: left; }

/**
 * The main app container
 */
.app-container {
  display: flex;
  min-height: 100%; }
  .app-container .navbar {
    flex-shrink: 0; }
  .app-container .workspace {
    flex-grow: 1;
    display: relative; }

/**
 * Generic tabs
 */
.tab {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 30px;
  height: 30px; }
  .tab.active {
    background-image: none; }

.tabbed-container.vertical {
  display: flex;
  height: 100%; }
  .tabbed-container.vertical .tabs {
    flex-shrink: 0;
    display: block; }

.tabbed-container .tabs {
  display: flex;
  background-color: #616161;
  padding-top: 5px; }
  .tabbed-container .tabs .tab {
    background-color: transparent;
    border: 0px;
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    color: #e0e0e0; }
    .tabbed-container .tabs .tab.active {
      color: #212121;
      background-color: #fff;
      border-top: 1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-bottom: 0px; }

.tabbed-container .panes .pane {
  display: none; }
  .tabbed-container .panes .pane.active {
    display: block; }

/**
 * Layout helper classes
 */
.hidden {
  display: none !important; }

/**
 * Spinner for AJAX operations
 */
@keyframes spinner-icon {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.spinner-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: transparent; }
  .spinner-backdrop .spinner-container {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    text-align: center; }
    .spinner-backdrop .spinner-container .spinner-icon {
      color: #2196f3;
      line-height: 32px;
      height: 32px;
      width: 32px;
      font-size: 32px;
      animation: spinner-icon 2s linear infinite; }

/**
 * Colours
 */
/**
 * Typography
 */
body, textarea, label, input, option, select {
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.4em;
  margin-bottom: 0.3em; }
  h1, h1 input, h1 a, h1 span, h2, h2 input, h2 a, h2 span, h3, h3 input, h3 a, h3 span, h4, h4 input, h4 a, h4 span, h5, h5 input, h5 a, h5 span, h6, h6 input, h6 a, h6 span {
    font-family: 'Bree Serif'; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

h4, h4 input, h4 a, h4 span {
  font-size: 1.1rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.8rem; }

ul {
  padding-left: 1.2em;
  list-style-type: initial; }

/**
 * Main layout elements
 */
.navbar, .navbar .obscure {
  background-color: #21303B;
  color: #fff; }
  .navbar .content .project-editor, .navbar .obscure .content .project-editor {
    background-color: #171e23;
    border: 0px;
    box-shadow: none; }
    .navbar .content .project-editor .content .header h4, .navbar .obscure .content .project-editor .content .header h4 {
      font-weight: normal; }

.navbar.out:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 5; }

.navbar.out button.active.handler:before {
  width: 80%;
  height: 80%; }

.navbar:not(.out) .buttons button.active .fa {
  color: #21303B; }

.navbar .buttons .separator {
  background-color: #171e23; }

.navbar .buttons button.handler:before {
  width: 0%;
  height: 0%;
  transition: width 0.1s ease, height 0.1s ease;
  background-color: #171e23;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.login-form {
  background-color: #21303B;
  color: #fff;
  padding: 2rem; }
  .login-form ul li a {
    color: #fff; }
  .login-form ul li input[type="password"], .login-form ul li input[type="text"] {
    padding: 0rem 0.75rem; }
  .login-form ul li input[type="password"], .login-form ul li input[type="text"], .login-form ul li label {
    line-height: 27px;
    border: 0px; }

.board-container {
  padding-top: 56px; }

.filter-editor {
  background-color: #21303B;
  position: fixed;
  top: 0px;
  z-index: 500; }
  .filter-editor .title {
    line-height: 36px;
    margin: 0px 15px 0px 5px; }
  .filter-editor .filters .filter:after {
    line-height: 36px;
    color: #fff;
    font-family: 'Bree Serif';
    font-size: 16px; }

.resource-editor input {
  line-height: 36px;
  height: 36px; }

.milestone-editor > .header {
  border-bottom: 1px solid #cccccc; }
  .milestone-editor > .header .fa {
    color: #888888; }
  .milestone-editor > .header .progress-bar {
    background-color: #e8e8e8; }

.issue-editor {
  border: 0px;
  background-color: #21303B;
  margin-bottom: 0.5rem; }
  .issue-editor > .header {
    background-color: transparent; }
    .issue-editor > .header h4, .issue-editor > .header h4 input {
      color: #fff; }
    .issue-editor > .header .issue-index {
      font-family: 'Bree Serif';
      padding: 4px 8px;
      font-size: 11px;
      line-height: 1em;
      border-radius: 0px;
      background-color: #171e23; }
  .issue-editor .body {
    background-color: #21303B; }
    .issue-editor .body .btn-edit, .issue-editor .body p, .issue-editor .body textarea {
      line-height: 1.5em;
      color: #fff; }
  .issue-editor .meta {
    background-color: transparent;
    color: #fff; }
    .issue-editor .meta .meta-field {
      margin-bottom: 0.5rem;
      height: 2rem; }
      .issue-editor .meta .meta-field label {
        line-height: 2rem;
        height: 2rem; }
  .issue-editor .comments, .issue-editor .add-comment {
    background-color: transparent; }
    .issue-editor .comments textarea, .issue-editor .add-comment textarea {
      border-radius: 0px; }

.plan-container .plan-item-editor {
  background-color: #21303B; }
  .plan-container .plan-item-editor .drag-handle {
    padding: 0.5rem 1rem 0.9em 1em;
    font-family: 'Bree Serif'; }

body > .plan-item-editor {
  border: 0px;
  border-radius: 0px;
  background-color: #21303B;
  color: #fff; }
  body > .plan-item-editor .body {
    position: relative; }
  body > .plan-item-editor .btn-close {
    color: #fff; }

/**
 * Widgets
 */
select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #E70D3B;
  padding-left: 0.5rem;
  color: #fff;
  line-height: 2rem;
  border: 0px;
  height: 2rem; }
  select option {
    padding: 0.5em; }

button.btn, input[type="submit"].btn {
  padding: 10px 15px;
  font-size: 1em;
  height: 36px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Bree Serif';
  background-color: #E70D3B; }
  button.btn + .btn, input[type="submit"].btn + .btn {
    margin-left: 0.5rem; }
  button.btn .fa, input[type="submit"].btn .fa {
    margin-left: 0.5em; }

.tabbed-container.vertical .tabs {
  padding-top: 0rem;
  background-color: #e8e8e8;
  border-right: 1px solid #cccccc; }
  .tabbed-container.vertical .tabs .tab {
    padding: 0rem 1rem;
    height: 4rem;
    background-color: transparent;
    line-height: 4rem;
    min-width: 12rem;
    text-align: left; }
    .tabbed-container.vertical .tabs .tab, .tabbed-container.vertical .tabs .tab.active {
      color: #343434;
      border-bottom: 1px solid #cccccc; }
    .tabbed-container.vertical .tabs .tab:not(.active):last-of-type {
      border-bottom: 0px; }
    .tabbed-container.vertical .tabs .tab.active {
      position: relative;
      background-color: #fff; }
      .tabbed-container.vertical .tabs .tab.active:after {
        position: absolute;
        right: -1px;
        top: 0px;
        height: 100%;
        width: 1px;
        content: '';
        display: block;
        background-color: #fff; }

.tabbed-container .tabs {
  padding-top: 1rem;
  background-image: none;
  background-color: #21303B; }
  .tabbed-container .tabs:nth-child(2) {
    padding-top: 0rem; }
  .tabbed-container .tabs .tab {
    font-family: 'Bree Serif';
    text-transform: uppercase;
    border-radius: 0px;
    color: #5b84a2;
    height: 2rem;
    line-height: 2rem; }
    .tabbed-container .tabs .tab.active {
      color: #21303B; }
    .tabbed-container .tabs .tab, .tabbed-container .tabs .tab.active {
      border: 0px;
      box-shadow: none; }

.workspace.scope-container {
  max-width: 50rem;
  margin: 1rem auto; }

/*# sourceMappingURL=readonly.css.map */
