---

---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Samoosa</title>
        <meta name="description" content="The pluggable issue tracker"/>

        <link rel="shortcut icon" href="/public/img/logo.png"/>
        <link rel="stylesheet" href="/public/css/client.css">
        <link rel="canonical" href="http://samoosa.rocks/about">
    </head>
    
    <body class="document-page">
        <div class="document readme">
            {% capture readme %}{% include README.md %}{% endcapture %}

            {{ readme | markdownify }}
            
            <h2>License</h2>
            {% include LICENSE %}
        </div>
    </body>
</html>
