.workspace.analytics {
    .tabbed-container {
        .panes {
            .pane {
                padding: 15px;
                width: 100%;
                height: 100%;
            }
        }
    }

    .analytics-body {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .burndown-chart {
        select {
            margin-left: 15px;
        }

        .graph-container {
            display: flex;
            position: absolute;
            width: 100%;

            .graph-canvas {
                overflow-x: auto;
                flex-grow: 1;
                width: 100%;
            }

            .graph-y-axis-labels {
                flex-shrink: 0;
                position: relative;
                width: 40px;

                label {
                    position: absolute;
                    left: 0px;
                    width: 40px;
                    display: block;

                    &:last-child {
                        transform: translateY(-100%);
                    }
                }
            }

            .graph-x-axis-labels {
                position: relative;
                white-space: nowrap;
                height: 20px;

                label {
                    line-height: 20px;
                    height: 20px;
                    position: absolute;
                    top: 0px;
                    display: inline-block;

                    &:last-child {
                        transform: translateX(-100%);
                    }
                }
            }
        } 
    }    
}
