@import '~sass-material-colors';

$secondary-light: #5b84a2;
$secondary: #21303B;
$secondary-dark: #171e23;

$primary: #E70D3B;

$grey-lightest: #efefef;
$grey-lighter: #e8e8e8;
$grey-light: #cccccc;
$grey-medium: #888888;
$grey-dark: #666666;
$grey-darker: #343434;
$grey-darkest: #222222;

$black: #000;

$white: #fff;

@mixin background($variant, $top: 0px) {
    background-image: url('/public/img/bg-#{$variant}.jpg');
    background-attachment: fixed;
    background-position: 0px $top;
}
