.filter-editor {
    display: flex;
    position: fixed;
    color: $white;
    top: 0px;
    right: 0px;
    z-index: 999;

    .btn-toggle {
        background-color: $secondary-dark;
        line-height: 56px;
        height: 56px;
        text-align: left;
        padding: 0px 15px;
        display: block;
        color: $white;
        font-family: 'Bree Serif';
        text-transform: uppercase;

        &:hover {
            color: $primary;
        }
        
        &[data-filter-amount="0"] {
            .filter-indicator {
                background-color: $secondary;
            }
        }
        
        .fa {
            margin-left: 5px;
        }

        .filter-indicator {
            border-radius: 50%;
            padding: 2px 6px;
            margin-left: 10px;
            background-color: $primary;
            color: #fff;
            line-height: 10px;
            font-size: 10px;
            font-weight: bold;
        }
    }

    &.active {
        .filters-container {
            width: 320px;
        }
    }

    .filters-container {
        width: 0px;
        transition: width 0.5s ease;
        overflow-x: hidden;
        z-index: 50;
        background-color: $secondary-dark;
    }

    .button-container {
        padding: 0rem 10px 10px 10px;
        width: 300px;
    }

    .filters {
        padding: 10px 10px 0rem 10px;
        width: 300px;
        
        .filter {
            height: 36px;
            flex-shrink: 0;
            display: flex;
            background-color: $secondary;
            margin: 0rem 0rem 10px 0rem;
            position: relative;

            span, select, button {
                font-size: 12px;
                line-height: 18px;
                display: block;
                background-color: transparent;
                border: 0px;
            }

            input {
                flex-grow: 1;
                width: 80px;
            }
            
            .btn-remove {
                text-align: center;
                position: absolute;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 20;
            }
              
            .select-container { 
                overflow-x: hidden;
                height: 100%;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &, select {
                    background-color: transparent;
                    color: $white;
                }

                &.key {
                    padding-left: 5px;
                    border-right: 1px solid $secondary-dark;
                    flex-grow: 1;
                    
                    select {
                        text-align: left;
                    }
                }
                
                &.operator {
                    width: 48px;
                    flex-shrink: 0;

                    select {
                        text-align: center;
                    }
                }

                &.value {
                    padding-right: 5px;
                    border-left: 1px solid $secondary-dark;
                    flex-grow: 1;
                    
                    select {
                        text-align: left;
                        padding-right: 2em;
                    }
                }
                
                select {
                    text-align: center;
                    background-color: transparent;
                    line-height: 25px;
                    height: 25px;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    cursor: pointer;
                    display: block;
                    width: 100%;

                    &:focusring, &:-moz-focusring {
                        color: transparent;
                        text-shadow: 0 0 0 #000;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            span {
                line-height: 25px;
            }

            span, select, button {
                flex-shrink: 0;
            }
        }
    }
}
