.filter-editor {
    display: flex;
    width: 100%;
    background-color: material-color('grey', '800');
    color: material-color('grey', '200');
    position: relative;

    .btn-toggle {
        position: absolute;
        right: 15px;
        top: -38px;

        .fa {
            margin-left: 5px;
        }

        .filter-indicator {
            padding: 2px 6px;
            margin-left: 10px;
            background-color: #000;
            color: #fff;
            border-radius: 10px;
            line-height: 10px;
            font-size: 10px;
            font-weight: bold;
        }
    }

    &.active {
        .filters {
            height: 56px;
        }

        .button-container {
            height: 56px;
        }
    }

    .button-container {
        height: 0px;
        overflow-y: hidden;
        transition: height 0.5s ease;
        line-height: 25px;

        .btn {
            height: 36px;
            margin: 10px 10px 10px 0px;
        }
    }

    .filters {
        display: flex;
        height: 0px;
        transition: height 0.5s ease;
        overflow-y: hidden;
        min-width: 10px;

        .filter {
            height: 36px;
            flex-shrink: 0;
            display: flex;
            background-color: material-color('grey', '200');
            border-radius: 15px;
            margin: 10px 30px 10px 10px;
            position: relative;

            &:after {
                content: '&';
                position: absolute;
                right: -20px;
                line-height: 25px;
                color: material-color('grey', '600');
            }

            &:last-of-type {
                margin-right: 10px;

                &:after {
                    content: none;            
                }
            }

            span, select, button {
                font-size: 12px;
                line-height: 18px;
                display: block;
                background-color: transparent;
                border: 0px;
            }

            input {
                flex-grow: 1;
                width: 80px;
            }
            
            .btn-remove {
                text-align: center;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 20;
            }
              
            .select-container { 
                background-color: material-color('grey', '300');
                overflow-x: hidden;
                height: 100%;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;

                &.key {
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    padding-left: 5px;
                    border-right: 1px solid material-color('grey', '800');

                    select {
                        text-align: left;
                    }
                }
                
                &.operator {
                    width: 48px;

                    select {
                        text-align: center;
                    }
                }

                &.value {
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding-right: 5px;
                    border-left: 1px solid material-color('grey', '800');
                    width: 90px;
                    
                    select {
                        text-align: left;
                        padding-right: 2em;
                    }
                }

                select {
                    text-align: center;
                    background-color: transparent;
                    line-height: 25px;
                    height: 25px;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    cursor: pointer;
                    display: block;
                    width: 100%;

                    &:focusring, &:-moz-focusring {
                        color: transparent;
                        text-shadow: 0 0 0 #000;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            span {
                line-height: 25px;
            }

            span, select, button {
                flex-shrink: 0;
            }
        }
    }
}
