.issue-editor {
    border: 1px solid material-color('grey', '400');

    &[data-type="bug"] {
        >.header {
            &:before {
                background-color: material-color('red', '500');
            }
        }
    }

    &.loading {
        pointer-events: none;
        opacity: 0.5;
    }

    &.expanded {
        .header {
            >button {
                span {
                    &.fa-minus-circle {
                        display: inline;
                    }
                    
                    &.fa-plus-circle {
                        display: none;
                    }
                }
            }
        }

        .meta, .body, .operations, .comments, .add-comment {
            display: block;
        }
    }

    .btn-edit {
        cursor: text;

        &:hover {
            outline: 1px solid material-color('grey', '200');
        }
    }

    >.header {
        background-color: material-color('grey', '800');
        color: material-color('grey', '200');
        padding: 0px 15px 15px 15px;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        img {
            float: left;
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }

        .drag-handle {
            cursor: move;

            .fa {
                text-align: center;
                display: block;
                height: 15px;
                line-height: 15px;
                font-size: 10px;
                color: material-color('grey', '500');
            }
        }

        .btn-toggle {
            float: right;
            width: 30px;
            height: 30px;
            display: block;
        }

        .priority-indicator {
            font-size: 10px;

            &.low, &.trival {
                color: material-color('green', '500');
            }
            
            &.medium, &.minor {
                color: material-color('grey', '500');
            }
            
            &.high, &.critical {
                color: material-color('yellow', '500');
            }
            
            &.blocker {
                color: material-color('red', '500');
            }
        }

        h4 {
            margin: 0px;
            display: inline;
            margin-left: 5px;
        }

        button {
            float: right;
            text-align: right;
        }

        span, input, h4 {
            line-height: 30px;
            
            &.fa-minus-circle {
                display: none;
            }
            
            &.fa-plus-circle {
                display: inline;
            }
        }
    }

    .meta, .body, .operations, .comments, .add-comment {
        display: none;
        padding: 15px;
    }

    .meta, .comments, .add-comment {
        background-color: material-color('grey', '300');
    }

    .meta {
        .meta-field {
            clear: both;

            select {
                float: right;
                width: 200px;
            }
        }
    }

    .body {
        textarea, .btn-edit {
            resize: none;
            display: block;
            width: 100%;
            min-height: 100px;
        }
    }
    
    .comments {
        .comment {
            display: flex;
            margin-top: 15px;

            &:first-child {
                margin-top: 0px;
            }   

            .collaborator {
                width: 80px;
                padding-right: 15px;
                flex-shrink: 0;

                img {
                    max-width: 100%;
                }
            }

            .text {
                flex-grow: 1;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: material-color('grey', '100');
            }
        }
    }

    .add-comment {
        text-align: right;
        
        textarea {    
            text-align: left;
            padding: 5px 10px;
            resize: none;
            display: block;
            width: 100%;
            border-radius: 5px;
            background-color: material-color('grey', '100');
        }
        
        button {
            margin-top: 15px;
        }
    }
}
