.board-container {
    &.multi-edit {
        .issue-editor {
            &:not(.selected) {
                opacity: 0.5;
            }
        }
    }
}

.issue-editor {
    border: 1px solid material-color('grey', '400');
    transition: height 0.5s ease;       
    overflow-y: hidden; 

    // States
    &.selected {
        outline: 2px solid material-color('blue', '500');
    }

    &.loading {
        pointer-events: none;
        opacity: 0.5;
    }

    &.expanded {
        .header {
            >button {
                span {
                    &.icon-close {
                        display: inline;
                    }
                    
                    &.icon-open {
                        display: none;
                    }
                }
            }
        }

        .attachments, .meta, .body, .operations, .comments, .add-comment {
            display: block;
        }

        &.selected {
            .multi-edit-notification {
                display: block;
                width: 100%;
                flex-basis: 100%;
                font-weight: bold;
                color: material-color('red', '500');
                padding: 15px 0px;
                margin-left: 15px;
                text-align: center;
            }

            .multi-edit-toggle {
                display: inline;
                float: right;
                margin: 10px 0px 0px 0px;
            }

            .multi-edit-actions {
                padding: 10px 0px;
                display: block;
                text-align: right;
                width: 100%;
                flex-basis: 100%;

                button {
                    margin-left: 10px;
                }
            }

            .body, .attachments, .comments, .add-comment {
                display: none;
            }
        }
    }

    .multi-edit-toggle, .multi-edit-notification, .multi-edit-actions {
        display: none;
    }

    >.header {
        background-color: material-color('grey', '800');
        color: material-color('grey', '200');
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .header-content {
            padding: 5px 0px;
            position: relative;

            .header-icons {
                position: absolute;
                top: 5px;
                left: 10px;

                .issue-id {
                    padding: 2px 5px 2px 0px;
                    font-size: 12px;
                }
                
                .type-indicator, .priority-indicator {
                    font-size: 12px;
                    text-align: center;
                    margin-right: 5px;
                }

                .type-indicator {
                    &.bug {
                        color: material-color('red', '500');
                    }
                
                    &.improvement, &.enhancement {
                        color: material-color('cyan', '500');
                    }
                    
                    &.feature, &.new-feature {
                        color: material-color('green', '500');
                    }
                    
                    &.task {
                        color: material-color('blue', '700');
                    }
                    
                    &.question, &.proposal {
                        color: material-color('yellow', '500');
                    }
                }

                .priority-indicator {
                    position: relative;
                    top: -1px;

                    &.low, &.trival {
                        color: material-color('green', '500');
                    }
                    
                    &.medium, &.minor {
                        color: material-color('grey', '500');
                    }
                    
                    &.high, &.major {
                        color: material-color('yellow', '500');
                    }
                    
                    &.critical, &.blocker {
                        color: material-color('red', '500');
                    }
                }
            }

            .assignee-avatar {
                position: absolute;
                top: 10px;
                right: 10px;
                
                img, .unassigned {
                    width: 20px;
                    height: 20px;
                }
                
                .unassigned {
                    background-color: material-color('grey', '500');
                    text-align: center;

                    .fa {
                        font-size: 20px;
                    }
                }
            }
            
            .header-center {
                padding: 20px 35px 15px 10px;

                .issue-title {
                    margin: 0px;
                    position: relative;

                    .btn-edit {
                        cursor: text;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        display: block;
                        z-index: 5;
                    }
                    
                    .rendered, .edit {
                        font-size: 1em;
                        line-height: 1em;
                        background-color: transparent;
                        color: #fff;
                        border: 0px;
                        padding: 0px;
                        margin: 0px;
                        display: block;
                        width: 100%; 
                        
                        &, &:focus, &:hover, &:active {
                            outline: 0px;
                        }   
                    }
                }
            }
        }

        .drag-handle {
            cursor: move;
            position: absolute;
            width: 100%;
            z-index: 50;
                    
            .fa {
                text-align: center;
                display: block;
                height: 15px;
                line-height: 15px;
                font-size: 10px;
                color: material-color('grey', '500');
            }
        }

        .btn-toggle {
            width: 30px;
            line-height: 20px;
            height: 20px;
            display: block;
            text-align: center;
            padding: 0px;
            position: absolute;
            bottom: 0px;
            left: 50%;
            margin-left: -15px;
            font-size: 10px;

            &, &:focus, &:hover, &:active {
                outline: none;
            }

            .fa {
                line-height: 1em;
                margin: 0px;
            }
        }

        span, input, h4 {
            line-height: 1em;
            
            &.icon-close {
                display: none;
            }
            
            &.icon-open {
                display: inline;
            }
        }
    }

    .body, .operations, .attachments, .comments, .add-comment {
        display: none;
        padding: 15px;
    }

    .meta {
        display: none;
        padding: 0px 15px 15px 0px;

        .meta-field {
            padding: 0px 0px 0px 15px;

            &.readonly {
                p {
                    line-height: 2rem;    
                    display: inline-block;
                }
            }

            label {
                min-width: 100px;
                display: inline-block;
            }

            select {
                display: inline-block;

                &[disabled] {
                    background-color: transparent;
                    border: 0px;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    clip-path: inset(0px 20px 0px 0px);
                    -webkit-clip-path: inset(0px 20px 0px 0px);
                    -moz-clip-path: inset(0px 20px 0px 0px);
                }
            }
        }
    }

    .collaborator-reference {
        font-weight: bold;
        margin-left: 4px;

        img {
            margin-right: 5px;
            height: 15px;
            position: relative;
            top: 3px;
        }
    }

    .body {
        padding-top: 0px;
        position: relative;

        .btn-edit {
            position: absolute;
            top: 36px;
            right: 20px;
        }

        label {
            display: block;
            width: 100%;
        }
        
        textarea, .rendered {
            resize: none;
            display: block;
            width: 100%;
            min-height: 100px;
        }
    }
    
    .attachments {
        padding: 0px 0px 0px 15px;
        position: relative;

        label {
            flex-basis: 100%;
            display: block;
        }

        input[type="file"], .btn-upload-attachment {
            position: absolute;
            top: 0px;
            right: 18px;
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

        input[type="file"] {
            opacity: 0;
            overflow: hidden;
            z-index: -100;
        }

        div.attachment {
            margin: 0px 15px 15px 0px;
            padding: 5px 10px;
            text-decoration: none;
            display: flex;

            label {
                flex-grow: 1;
                
                img {
                    max-width: 2rem;
                    max-height: 1rem;
                    transform: translateY(25%);
                    margin-right: 15px;
                }
            }
            
            .btn-download-attachment, .btn-remove-attachment {
                margin-left: 15px;
                line-height: 2rem;
            }
        }
    }

    .comments {
        padding: 0px 15px 0px 15px;

        .comment {
            display: flex;
            margin-bottom: 15px;
            position: relative;

            &:first-child {
                margin-top: 0px;
            }   

            .collaborator {
                width: 80px;
                padding-right: 15px;
                flex-shrink: 0;

                img {
                    max-width: 30px;
                }
            }

            .btn-edit {
                position: absolute;
                top: 5px;
                right: 5px;
                color: #fff;
            }

            .text, .rendered, .edit {
                resize: none;
                flex-grow: 1;
                padding: 10px;
                border-radius: 5px;
                background-color: material-color('grey', '100');
            }
        }
    }

    .add-comment {
        text-align: right;
        padding: 0px 15px 15px 15px;
        
        textarea {    
            text-align: left;
            padding: 10px;
            resize: none;
            display: block;
            width: 100%;
            border-radius: 5px;
            background-color: material-color('grey', '100');
        }
        
        button {
            margin-top: 15px;
        }
        
        .btn-remove {
            padding: 10px 5px;
            line-height: 13px;
            height: auto;
            float: left;
            font-size: 16px;

            span {
                margin: 0px;
                line-height: inherit;
            }
        }
    }
}
