.login-form {
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 0px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
        display: block;
        width: 6rem;
        margin: 0rem auto 2rem auto;
    }

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            display: flex;
            margin-bottom: 1rem;

            &:last-child {
                margin-top: 1rem;
                margin-bottom: 0px;
            }

            label {
                width: 40%;
                flex-shrink: 0;
            }

            input, select {
                flex-grow: 1;
            }

            input[type="text"], input[type="password"] {
                padding: 0em 0.4em;
            }

            input[type="submit"] {
                width: 100%;
            }
        }
    }
}
