.btn-transparent {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    text-align: left;
}

body, html {
    height: 100%;
}

.app-container {
    display: flex;
    min-height: 100%;

    .navbar {
        flex-shrink: 0;
    }

    .workspace {
        flex-grow: 1;
    }
}

.tabbed-container {
    .tabs {
        position: relative;

        .tab {
            button {
                height: 30px;
                line-height: 30px;
                position: absolute;
                top: 0px;
            }

            .content {
                margin-top: 30px;
                display: none;
            }

            &.active {
                .content {
                    display: block;
                }
            }
        }
    }
}
