/**
 * Global body/html styles
 */
body, html {
    height: 100%;

    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        &.selectable {
            &, * {
                -webkit-user-select: text;
                -moz-user-select: text;
                user-select: text;
            }
        }
    }

    h4 {
        font-size: 16px;
    }
}

/**
 * A transparent, border-less button
 */
.btn-transparent {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    text-align: left;
}

/**
 * The main app container
 */
.app-container {
    display: flex;
    min-height: 100%;

    .navbar {
        flex-shrink: 0;
    }

    .workspace {
        flex-grow: 1;
        display: relative;
    }
}

/**
 * Generic tabs
 */
.tab {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), 5%, rgba(0, 0, 0, 0));
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    line-height: 30px;
    height: 30px;

    &.active {
        background-image: none;
        box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5), 0px -5px 5px -5px rgba(0, 0, 0, 0.5), 5px 0px 5px -5px rgba(0, 0, 0, 0.5);
    }
}

.tabbed-container {
    .tabs {
        display: flex;
        background-color: material-color('grey', '700');
        padding-top: 5px;

        .tab {
            background-color: transparent;
            border: 0px;
            display: block;
            flex-grow: 1;
            flex-basis: 0;
            color: material-color('grey', '300');

            &.active {
                color: material-color('grey', '900');
                background-color: #fff;
                border-top: 1px solid material-color('grey', '300');
                border-left: 1px solid material-color('grey', '300');
                border-right: 1px solid material-color('grey', '300');
                border-bottom: 0px;
            }
        }
    }

    .panes {
        .pane {
            display: none;
            
            &.active {
                display: block;
            }
        }
    }
}

/**
 * Layout helper classes
 */
.hidden {
    display: none !important;
}

/**
 * Spinner for AJAX operations
 */
@keyframes spinner-icon {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

.spinner-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: transparent;

    .spinner-container {
        width: 32px;
        height: 32px;
        position: absolute;
        bottom: 32px;
        right: 32px;
        text-align: center;

        .spinner-icon {
            color: material-color('blue', '500');
            line-height: 32px;
            height: 32px;
            width: 32px;
            font-size: 32px;
            animation: spinner-icon 2s linear infinite;
        }
    }
}
