/**
 * Global body/html styles
 */
body, html {
    height: 100%;
    overflow: hidden;

    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        &.selectable {
            &, * {
                -webkit-user-select: text;
                -moz-user-select: text;
                user-select: text;
            }
        }
    }

    h4 {
        font-size: 16px;
    }
}

/**
 * Document page
 */
.document-page {
    overflow: auto;

    .document {
        h1, h2, h3, h4, h5, h6 {
            line-height: 1em;
        }    

        max-width: 800px;
        margin: 0em auto;
        padding: 5em 2em;
    }
}

/**
 * A modal
 */
.modal-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
    }
}

/**
 * A transparent, border-less button
 */
.btn-transparent {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    text-align: left;
}

/**
 * The main app container
 */
.app-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: $teal-dark;

    &.disabled {
        pointer-events: none;
        position: fixed;
        height: 100%;
        overflow-y: hidden;
        width: 100%;
        top: 0px;
        left: 0px;

        .workspace {
            opacity: 0;
        }
    }

    .navbar {
        flex-shrink: 0;
    }

    .workspace {
        background-color: $white;
        opacity: 1;
        transition: opacity 0.5s ease;
        display: flex;

        .workspace-content {
            height: calc(100vh - 56px);
            flex-grow: 1;
            overflow-y: auto;
        }

        .workspace-panel {
            flex-shrink: 0;
            position: relative;
        }
    }
}

/**
 * Generic tabs
 */
.tab {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    line-height: 30px;
    height: 30px;

    &.active {
        background-image: none;
    }
}

.tabbed-container {
    &.vertical {
        display: flex;
        height: 100%;

        .tabs {
            flex-shrink: 0;
            display: block;
        }

        .panes {
            flex-grow: 1;
        }
    }

    .tabs {
        display: flex;
        background-color: material-color('grey', '700');
        padding-top: 5px;

        .tab {
            background-color: transparent;
            border: 0px;
            display: block;
            flex-grow: 1;
            flex-basis: 0;
            color: material-color('grey', '300');

            &.active {
                color: material-color('grey', '900');
                background-color: #fff;
                border-top: 1px solid material-color('grey', '300');
                border-left: 1px solid material-color('grey', '300');
                border-right: 1px solid material-color('grey', '300');
                border-bottom: 0px;
            }
        }
    }

    .panes {
        .pane {
            display: none;
            
            &.active {
                display: block;
            }
        }
    }
}

/**
 * Layout helper classes
 */
.hidden {
    display: none !important;
}

/**
 * Spinner for AJAX operations
 */
@keyframes spinner-icon {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

.spinner-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: transparent;

    .spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        border-radius: 5px;
        background-color: $pink-medium;

        .spinner-text {
            display: block;
            color: $white;
            line-height: 32px;
            font-weight: bold;
            text-transform: uppercase;
            margin-left: 0.5rem;
        }

        .spinner-icon {
            display: block;
            text-align: center;
            color: $white;
            line-height: 32px;
            height: 32px;
            width: 32px;
            font-size: 32px;
            animation: spinner-icon 2s linear infinite;
        }
    }
}
