.milestone-editor {
    transition: height 0.5s ease;       
    overflow-y: hidden;

    &.collapsed {
        >.header {
            .title {
                .btn-toggle {
                    .fa {
                        transform: translateY(-50%) rotate(0deg);
                    }
                }
            }
        }

        .columns {
            display: none;
        }
    }
    
    >.header {
        border-bottom: 1px solid material-color('grey', '400');
        padding: 15px;
        position: relative;

        .title {
            margin: 0px;

            .btn-toggle {
                padding: 0px 0px 0px 30px;
                display: block;
                text-align: left;
                position: relative;
                width: 100%;

                h4 {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                p {
                    margin-bottom: 0px;
                }
                
                .fa {
                    width: 20px;
                    text-align: center;
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                    transition: transform 0.25s ease;
                }
            }
        }

        .stats {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;

            .fa {
                margin-right: 5px;
            }

            >span {
                display: inline-block;
                padding: 0px 8px 0px 5px;
                border-radius: 10px;
                line-height: 20px;
                height: 20px;
                background-color: material-color('grey', '700');
                margin-left: 10px;
                font-size: 12px;
                color: material-color('grey', '300');

                .total {
                    color: material-color('grey', '400');
                }

                .remaining {
                    border-left: 1px solid material-color('grey', '300');
                    padding-left: 5px;
                    margin-left: 5px;
                    margin-right: 0px;

                    &.warn-red {
                        color: material-color('red', '500');
                    }
                    
                    &.warn-yellow {
                        color: material-color('yellow', '500');
                    }
                    
                    &.ok {
                        color: material-color('green', '500');
                    }
                }

                .remaining, .total {
                    font-weight: bold;
                }
            }
        }

        .progress-bar {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            background-color: material-color('grey', '300');
            z-index: -1;
            transition: width 0.5s ease;
            box-shadow: none;
        }

    }

    .columns {
        display: flex;

        .column {
            flex-grow: 1;
            flex-basis: 0;
            border-right: 1px solid material-color('grey', '400');
            border-bottom: 1px solid material-color('grey', '400');
            padding: 15px;
            
            &:last-child {
                border-right: 0px;
            }

            >.header {
                margin-bottom: 15px;

                h4 {
                    margin: 0px;
                    text-transform: uppercase;
                    opacity: 0.5;
                }
            }

            .btn-new-issue {
                margin-top: 1em;
            }
        }
    }
}

.board-container {
    &.list {
        .milestone-editor {
            >.header {
                border-top: 1px solid material-color('grey', '400');
                border-bottom: none;
                
                .btn-toggle {
                    margin: 0px auto;
                }

                .title {
                    .fa {
                        width: 18px;
                        margin-right: 5px;
                    }
                }
            }

            &:not(.collapsed) {
                >.header {
                    border-bottom: 1px solid material-color('grey', '400');
                }

                .columns {
                    display: block;
                
                    .column {
                        border: 0px;
                        width: 600px;
                        margin-left: auto;
                        margin-right: auto;

                        &:last-of-type {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }

    &.dragging {
        .milestone-editor {
            .columns {
                .column {
                    &.hovering {
                        outline: 4px solid material-color('green', '300');
                        outline-offset: -4px;
                    }
                }
            }
        }
    }
}
