.milestone-editor {
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
    margin-left: 8rem;

    &:hover {
        .btn-print { 
            display: block;
        }
    }

    &:hover, &.editing {
        background-color: $grey-lighter;
    }

    .btn-print {
        display: none;
        position: absolute;
        left: -1rem;
        top: 1.2rem;
        z-index: 90;
        width: 35px;
        border-radius: 50%;

        .fa {
            margin: 0px;
        }
    }

    &.editing {
        cursor: auto;
 
        input {
            margin-bottom: 1rem;
            padding: 0rem 0.5rem;
        }

        .buttons, .date-input {
            display: block;
        }
    }

    &:before {
        content: '';
        border-radius: 50%;
        width: 0.5rem;
        height: 0.5rem;
        background-color: $pink-medium;
        display: block;
        position: absolute;
        left: -3px;
        top: 33px;
    }

    .buttons {
        display: none;
        text-align: right;
    }

    h4 {
        margin: 0rem;
    }

    .date-input {
        display: none;

        input {
            width: auto;
            display: inline;
            padding: 0px;
            padding-left: 15px;
            text-align: center;
        }

        .separator {
            opacity: 0.5;
            margin: 0rem 0.5rem;
        }

        input[name="year"] {
            width: 50px;
        }
        
        input[name="month"],
        input[name="day"] {
            width: 34px;
        }
    }
    
    input {
        font-size: inherit;
        width: 100%;
    }

    &:not(.editing) input {
        pointer-events: none;
        padding: 0px;
        background-color: transparent;

        &, &:focus {
            box-shadow: none;
            border: 0px;
            outline: 0px;
        }
    }
}
