.navbar {
    width: 70px;
    margin: 0px;
    background-color: material-color('grey', '900');
    border-radius: 0px;
    border: 0px;

    .buttons {
        position: fixed;
        height: 100%;

        a {
            margin-top: 5px;
            display: block;
            width: 60px;
            margin-left: 10px;
            text-align: center;

            &.bottom {
                position: absolute;
                bottom: 5px;
            }

            &.active {
                background-color: material-color('grey', '200');
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                box-shadow: -5px 0px 5px -5px rgba(0, 0, 0, 0.5), 0px -5px 5px -5px rgba(0, 0, 0, 0.5), 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
                
                .fa {
                    color: material-color('grey', '900');
                }
            }

            .fa {
                color: material-color('grey', '200');
                line-height: 60px;
                font-size: 24px;
            }
        }
    }    
}
