.navbar {
    height: 56px;
    margin: 0px;
    border-radius: 0px;
    border: 0px;
    background-color: $secondary;
    color: $white;
    
    @include background('secondary');

    &.out {
        &.about-panel {
            .obscure {
                overflow-y: auto;

                .content {
                    max-width: 50rem;
                    padding: 15px;
                    left: 50%;
                    top: 50%;
                    height: 15rem;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    img {
                        max-width: 10rem;
                    }

                    h1 {
                        margin: 0px;
                    }
                }
            }
        }
        
        &.source-panel {
            .obscure {
                max-width: 20rem;
            }
        }

        &.repository-list {
            .obscure {
                max-width: 40rem;

                >.content {
                    overflow-y: hidden;
                    padding: 15px 0px;

                    .repository-list-actions {
                        margin-bottom: 15px;
                        padding: 0px 15px;
                        display: flex;

                        .repository-list-action {
                            flex-shrink: 0;

                            &.btn-new {
                                margin-right: 15px;
                            }

                            &.search {
                                flex-shrink: 1;
                                flex-grow: 1;
                                width: 100%;
                                height: 30px;
                                margin-bottom: 15px;
                                padding: 0px;
                                position: relative;

                                input {
                                    border-radius: 18px;
                                    padding: 0px 15px;
                                    line-height: 36px;
                                    display: block;
                                    width: 100%;
                                    border: 0px;
                                    
                                    &, &:focus {
                                        outline: none;
                                    }
                                } 

                                .fa {
                                    position: absolute;
                                    right: 15px;
                                    top: 60%;
                                    transform: translateY(-50%);
                                    color: #000;
                                    opacity: 0.5;
                                    font-size: 18px;
                                }
                            }
                        }
                    }

                    .repository-list-items {
                        padding: 15px 15px 0px 15px;
                        height: calc(100% - 30px);
                        overflow-y: auto;

                        >h4 {
                            text-align: center;
                            text-transform: uppercase;
                            position: relative;
                            margin-bottom: 1rem;

                            &:before, &:after {
                                display: block;
                                content: '';
                                height: 1px;
                                width: 40%;
                                top: calc(50% - 0.5px);
                                background-color: $white;
                                position: absolute;
                            }

                            &:before {
                                left: 0px;
                            }
                            
                            &:after {
                                right: 0px;
                            }
                        }
                    }
                }
            }
        }
        
        .backdrop {
            background-color: rgba(255, 255, 255, 0.25);
            display: block;
            position: fixed;
            top: 56px;
            left: 0px;
            width: 100%;
            height: calc(100% - 56px);
            z-index: 900;
            pointer-events: auto;
        }
       
        .obscure {
            width: 100%;
            transition-delay: 0.05s;

            .content {
                opacity: 1;
                
                .current-user {
                    padding: 0px 15px;
                }
                    
                .repository-editor {
                    background-color: $secondary-dark;
                    border: 0px;
                    box-shadow: none;

                    &:hover {
                        outline-color: $primary;
                    }

                    .content {
                        .header {
                            h4 {
                                font-weight: normal;
                            }
                        }

                        .owner {
                            color: $secondary-light;
                        }
                    }
                }
            }
        }

        .buttons {
            button {
                &:before, .fa {
                    transition-delay: 0s;
                }
            }
        }
    }

    .backdrop {
        pointer-events: none;
        display: none;
    }

    .obscure {
        position: fixed;
        top: 56px;
        left: 0px;
        width: 0px;
        height: calc(100% - 56px);
        background-color: $secondary;
        transition: width 0.25s ease, max-width 0.25s ease;
        transition-delay: 0s;
        z-index: 1000;
        max-width: 100%;
    
        @include background('secondary', -56px);

        >.content {
            height: 100%;
            top: 0px;
            opacity: 0;
            transition: opacity 0.25s ease;
            width: 100%;
            overflow-y: auto;
        }
    }

    .buttons {
        .separator {
            &:after {
                font-family: 'FontAwesome';
                content: '\f054';
                color: $secondary-light;
            }

            text-align: center;
            line-height: 56px;
            height: 56px;
            display: block;
            float: left;
            width: 3rem;
        }
        
        button {
            border: 0px;
            padding: 0px;
            display: block;
            float: left;
            width: 56px;
            height: 56px;
            text-align: center;
            position: relative;
            background-color: transparent;
            
            @media($mobile) {
                &[title="Kanban"],
                &[title="Settings"],
                &[title="Analytics"],
                &.btn-logo {
                    display: none;
                }
            }

            &.btn-logo {
                background-image: url('/public/svg/logo-light.svg');
                background-size: 25px 25px;
                background-position: center;
                background-repeat: no-repeat;
            }

            &.active {
                .fa {
                    color: $primary;
                }
            }

            .fa {
                color: $white;
                line-height: 56px;
                font-size: 24px;
                transition: color 0.25s ease;
            }
        }
    }    
}
