.plan-container {
    &.dragging {
        .plan-editor {
            * {
                user-select: none;
            }
        }
    }
}

.plan-container {
    position: relative;

    .plan-editor {
        position: absolute;
        height: 100%;
        width: 100%;

        .years, .months {
            line-height: 30px;
            height: 35px;
            width: 100%;
            display: flex;
            padding-top: 5px;

            button {
                background-color: transparent;
                flex-grow: 1;
                flex-basis: 0;
                border: 0px;
                padding: 0px;
                text-transform: capitalize;
            }
        }

        .years {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: material-color('grey', '800');

            button {
                color: material-color('grey', '400');
                
                &.active {
                    color: material-color('grey', '300');
                    background-color: material-color('grey', '700');
                }
            }
        }

        .months {
            position: absolute;
            top: 35px;
            left: 0px;
            background-color: material-color('grey', '700');

            button {
                color: material-color('grey', '300');
                
                &.active {
                    color: material-color('grey', '800');
                    background-color: #fff;
                }
            }
        }

        .weeks {
            position: absolute;
            top: 70px;
            left: 0px;
            width: 30px;
            text-align: center;
            height: calc(100% - 70px);

            .week {
                padding-top: 5px;
                height: calc(100% / 5);
                border-right: 1px solid material-color('grey', '300');
                border-bottom: 1px solid material-color('grey', '300');
            }
        }

        .dates {
            position: absolute;
            top: 70px;
            left: 30px;
            height: calc(100% - 70px);
            width: calc(100% - 30px);

            .date {
                display: block;
                float: left;
                width: calc(100% / 7);
                height: calc(100% / 5);
                border-right: 1px solid material-color('grey', '300');
                border-bottom: 1px solid material-color('grey', '300');

                &.hovering {
                    outline: 2px solid material-color('green', '300');
                    background-color: 2px solid material-color('green', '100');
                }

                .header {
                    padding: 5px;

                    .name {
                        color: material-color('grey', '400');
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }

                .body {
                    >button {
                        float: right;
                        line-height: 30px;
                        width: 30px;
                        text-align: center;
                    }    
                } 
            }
        }
    }
}
