.plan-container {
    &.dragging {
        .plan-editor {
            * {
                user-select: none;
            }
        }
    }
}

.plan-editor {
    position: relative;
    height: 100%;

    .years, .months {
        line-height: 30px;
        height: 30px;
        display: flex;

        button {
            line-height: 30px;
            height: 30px;
            flex-grow: 1;
            flex-basis: 0;
            border: 0px;
            background-color: #fff;
            border-right: 1px solid material-color('grey', '300');
            border-bottom: 1px solid material-color('grey', '300');

            &.active {
                background-color: material-color('grey', '400');
            }

            &:last-child {
                border-right: 0px;
            }
        }
    }

    .dates {
        height: calc(100% - 60px);

        .date {
            display: block;
            float: left;
            width: calc(100% / 7);
            height: calc(100% / 5);
            border-right: 1px solid material-color('grey', '300');
            border-bottom: 1px solid material-color('grey', '300');

            &.hovering {
                outline: 2px solid material-color('green', '300');
                background-color: 2px solid material-color('green', '100');
            }

            .body {
                >button {
                    float: right;
                    line-height: 30px;
                    width: 30px;
                    text-align: center;
                }    
            } 
        }
    }
}
