.project-editor {
    padding: 15px;
    display: flex;
    border: 1px solid material-color('grey', '200');
    border-radius: 2px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
    margin: 15px;

    .toolbar {
        flex-shrink: 0;
        position: relative;
        width: 60px;

        input {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .content {
        flex-grow: 1;
        
        .header {
            background-color: material-color('grey', '800');
            color: #fff;
        }

        .body {

        }
    }
}
