.resource-editor {
    padding: 15px; 
    width: 100%;
    max-width: 300px;
    height: 100%;

    input {
        line-height: 30px;
        height: 30px;
        border: 1px solid material-color('grey', '300');
    }

    label {
        line-height: 30px;
        height: 30px;
    }

    input {
        padding: 0px 10px;
    }

    .body {
        overflow-y: auto;

        .item {
            display: flex;
            margin-bottom: 10px;

            input, label {
                flex-grow: 1;
            }

            .btn-remove {
                flex-shrink: 0;
                width: 30px;
                border: 0px;
                background-color: transparent;
                color: material-color('red', '600');
            }
        }
    }

    .footer {
        display: flex;

        input {
            flex-grow: 1;
            border-right: 0px;
        }

        .btn-add {
            flex-shrink: 0;
        }
    }
}
