.source-panel {
    .obscure {
        .content {
            .btn {
                margin-top: 1em;
            }
            
            >div {
                padding-top: 1em;
                
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}
