@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import 'https://fonts.googleapis.com/css?family=Bree+Serif';

/**
 * Colours
 */
$teal-dark: #21303B;

$pink-medium: #E70D3B;

$white: #fff;

/**
 * Typography
 */
body {
    font-family: 'Open Sans';
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif';
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

/**
 * Main layout elements
 */
.navbar {
    &, .obscure {
        background-color: $teal-dark;
    }
    
    &:not(.out) {
        .buttons {
            button {
                &.active {
                    .fa {
                        color: $teal-dark;
                    }
                }
            }
        }
    }
}

.filter-editor {
    background-color: $teal-dark;
}

/**
 * Widgets
 */
.btn {
    padding: 10px 15px;
    font-size: 1em;
    text-transform: uppercase;
    color: $white;
    font-family: 'Bree Serif';
    background-color: $pink-medium;

    .fa {
        margin-left: 0.5em;
    }
}
